<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Log in</title>
         <script>
            function func()
            {
                var str = document.getElementById("answer").value;
                var status = document.getElementById("statut");
               {{ name }} = str;
               statut.innerHTML = "Welcome!";
            }
        </script>
    </head>

    <body>

        <h3>
        <p>Type your name here:</p>
         <input type="text" size="10" id="answer">
         <span id="status"></span>
         <input type="button" value="Log in" onclick="func()">
        </h3>
        <h3><a href="https://api.quantumfruit.xyz/"> Back to main page </a></h3>
        
    </body>
</html>
