<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>francais</title>
        <script>
            function func()
            {
                var str = document.getElementById("reponse").value;
                var statut = document.getElementById("statut");
                if(str.valueOf() == {{answer}}) statut.innerHTML = "Correct";
                else statut.innerHTML = "Incorrect";
            }
        </script>
    </head>

    <body>
        <h1>francais</h1>

        <h2>Alphabets</h2>
        <span>a b c d e f g h i k l m n o p q r s t u v w x y z</span>
        <span>Les mots sont un ensemble de lettres</span>
        <span>Exemple : </span>
        <span>j + e = je</span>

        <span>Une phrase est un ensemble de mots</span>
        <span>un + éléphant = un éléphant</span>

        <span>Le but de cet exercice est de trouver le mot correspondant à une phrase syntaxiquement correcte.</span>

        <h2>{{ question }}</h1>
        
        {% for r in reponses %}
            <li>{{ r }}</li>
        {% endfor %}
        
        <input type="text" size="10" id="reponse"> 
        <input type="button" value="test" onclick="func()">
        <span id="statut"></span>
    </body>
</html>
